html, body, #root {
  height: 100vh;
}
/* default font size 13 */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #313131;
  font-size: 14px;
}

.MuiButtonBase-root.MuiButton-root {
  font-size: 12px;
  font-weight: 600;
}
.MuiAutocomplete-input {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.MuiPickersToolbar-toolbar, .MuiPickersDay-daySelected {
  background-color: #027bb3 !important;
}
.MuiPickersDay-dayDisabled {
  color: #c7c7c7 !important;
}
.MuiPickersCalendarHeader-dayLabel {
  color: #027bb3 !important;
}